# Telegram Bot Configuration
BOT_TOKEN=8673101909:AAF7JLVe4lwPA1ZUKTCz4Av1Lyqcr5OwEx8
ADMIN_ID=5475526744

# Database Configuration
DATABASE_URL=sqlite:///./bot.db

# Mandatory Channels (comma separated channel usernames)
MANDATORY_CHANNELS=SpeakingMockss,MultilevelMockBaza

# External Links
SPEAKING_PARTNER_LINK=https://www.sesame.com/research/crossing_the_uncanny_valley_of_voice#demo
READING_LINK=https://jamesclear.com/articles
LISTENING_LINK=https://www.podcastsinenglish.com/
